<ion-header >
  <ion-toolbar color="primary">
    <ion-back-button></ion-back-button>
    <ion-searchbar  placeholder="from" [value]="routeLocation.fromAddress"  (ionChange)="getLocationPrediction($event,'from')" debounce="1000"></ion-searchbar>
        
    <ion-searchbar placeholder="to" [value]="routeLocation.toAddress" (ionChange)="getLocationPrediction($event,'to')" debounce="1000"></ion-searchbar>
 
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-card-title>
      Favorite places
    </ion-card-title>
  </ion-item>
</ion-card>
<div *ngFor="let location of predictions" >
<ion-card (click)="selectLocation(location)" >
  <ion-item>
   <ion-icon name="pin" slot="start"></ion-icon> 
   <ion-text>{{location.description}}</ion-text>
  </ion-item>
</ion-card>
</div>

</ion-content>
<ion-footer>
  <ion-button expand='full' *ngIf="fromPlaceId!=='' && toPlaceId!==''" (click)="go()"> 
    Go
  </ion-button>
</ion-footer>
