
    <!-- Put your content here -->
  
  
      <div>

      <ion-item class="card2">
        <ion-card-subtitle>
          About 1 km
        </ion-card-subtitle>
        <app-rating rate="2" readonly="true"  slot="end"></app-rating>
      </ion-item>
  
   
        <ion-item class="card2">
          <ion-card-subtitle>
            About 1.5 km
          </ion-card-subtitle>
          <app-rating rate="3" readonly="true" slot="end"></app-rating>
        </ion-item>
   
      
          <ion-item class="card2">
            <ion-card-subtitle>
              About 2 km
            </ion-card-subtitle>
            <app-rating rate="5" readonly="true"  slot="end"></app-rating>
            </ion-item>
       
        
            <ion-item class="card2">
              <ion-card-subtitle>
                About 2.6 km
              </ion-card-subtitle>
              <app-rating rate="1" readonly="true" slot="end"></app-rating>
            </ion-item>

          </div>
    

        

